<div class="jumbotron py-3">
  <h1 class="display-6 text-center">Ecommerce App</h1>
</div>
<div class="container">
  <nav class="nav">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <button type="button" class="btn btn-secondary btn-lg" routerLink="clothes">Clothes</button>
      </li>
      <li *ngIf="isUserAdmin()" class="nav-item">
        <button type="button" class="btn btn-secondary btn-lg" routerLink="add">Add cloth</button>
      </li>
      <li *ngIf="isUserAdmin()" class="nav-item">
        <button type="button" class="btn btn-secondary btn-lg" routerLink="users">Users</button>
      </li>
      <span *ngIf="!isUserAdmin() && isUserAuthenticated" style="width: 270px;"></span>
      <li *ngIf="isUserAuthenticated" class="nav-item">
        <span class="nav-cart"><button type="button" class="btn btn-secondary btn-lg" routerLink="cart"><i
              class="fa fa-shopping-cart" style="font-size:30px ; margin-top: 5%;"></i></button></span>
      </li>
      <li *ngIf="!isUserAuthenticated" class="nav-item">
        <span class="sign"><button type="button" class="btn btn-secondary btn-lg"
            routerLink="login">Login</button></span>
      </li>
      <li *ngIf="isUserAuthenticated" class="nav-item">
        <span class="logout"><button type="button" class="btn btn-secondary btn-lg"
            (click)="logOut()">Logout</button></span>
      </li>
    </ul>
  </nav>
</div>
<div class="left-side-nav">
  <div class="container">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <app-price></app-price>
      </li>
      <li class="nav-item">
        <!-- <app-brand></app-brand> -->
      </li>
    </ul>
  </div>
</div>
<div class="visualize-items">
  <!-- <app-cloth-detail></app-cloth-detail> -->
  <router-outlet></router-outlet>
</div>