<div class="jumbotron py-3">
  <h1 class="display-6 text-center">Ecommerce App</h1>
</div>
<div class="container">
  <nav class="nav">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <button type="button" class="btn btn-secondary btn-lg" routerLink="clothes">Clothes</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-secondary btn-lg" routerLink="add">Add cloth</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-secondary btn-lg" routerLink="signup">Sign Up</button>
      </li>
    </ul>
  </nav>
</div>
<div class="left-side-nav">
  sorting later
</div>
<div class="visualize-items">
  <!-- <app-cloth-detail></app-cloth-detail> -->
  <router-outlet></router-outlet>
</div>