<div class="container">
   <h3>Users List</h3>
   <div class="row">
      <div class="card" *ngFor="let user of list">
         <p>First Name : {{user.firstName}}</p>
         <p>Last Name : {{user.lastName}}</p>
         <p>Role : {{user.userType}}</p>
         <p>Username : {{user.userName}}</p>
         <p>Email : {{user.email}}</p>
         <button class="btn btn-secondary" id="delete">Delete User</button>
         <button class="btn btn-secondary" id="makeAdmin">Make Admin</button>
      </div>
   </div>
</div>