<div class="container">
   <filter-textbox (changed)="filter($event)"></filter-textbox>
   <div class="row">
      <div class="card" *ngFor="let dataItem of filteredClothes">
         <button class="updateBox" (click)="redirectToEdit(dataItem.clothId,dataItem)"></button>
         <p class="badge badge-secondary" (click)="redirectToEdit(dataItem.clothId,dataItem)">{{dataItem.clothType}}</p>
         <!-- <img class="card-img-top" src="/EcommerceUI/src/app/pictures/ck.jpg" alt="Card image cap"> -->
         <p class="badge badge-secondary" id="price" (click)="redirectToEdit(dataItem.clothId,dataItem)">
            {{dataItem.clothPrice}} BGN</p>
         <div class="card-body">
            <h5 class="card-title">{{dataItem.clothName}}</h5>
            <p class="card-text">{{dataItem.clothBrand}} || Size - {{dataItem.clothSize}}</p>

            <button *ngIf="!isUserAuthenticated()" class="btn btn-secondary" routerLink="/login"
               style="width: 90%;">Login To Buy</button>
            <div *ngIf="isUserAdmin()">
               <button class="btn btn-secondary" (click)="addItemToCart(dataItem.clothId)">BUY</button>
               <button class="btn btn-secondary" (click)="deleteCloth(dataItem.clothId,dataItem.clothName)"
                  id="delete">Delete</button>
            </div>
            <div *ngIf="isUserAuthenticated() && !isUserAdmin()">
               <button class="btn btn-secondary" (click)="addItemToCart(dataItem.clothId)"
                  style="width: 90%;">BUY</button>
            </div>
         </div>
      </div>
   </div>
   <p *ngIf="!filteredClothes || !filteredClothes.length" style="text-align: center; font-size: 20px;">No products found
      with this
      filter applied
   </p>
</div>