<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)" class="col s12">
   <input type="hidden" name="addEditCloth" [value]="service.formData.clothId" />
   <div class="form-group">
      <label style="padding-left:10px">Cloth Name</label>
      <input class="form-control form-control-lg" placeholder="Cloth Name" name="clothName" #clothName="ngModel"
         [(ngModel)]="service.formData.clothName" required style="width: 610px;">
   </div>
   <div class="form-group">
      <label style="padding-left:10px">Brand</label>
      <input class="form-control form-control-lg" placeholder="Cloth Brand" name="clothBrand" #clothBrand="ngModel"
         [(ngModel)]="service.formData.clothBrand" style="width: 610px;">
   </div>
   <div class="form-row">
      <div class="form-group col-md-3">
         <label>Size</label>
         <input class="form-control form-control-lg" placeholder="Size" name="clothSize" #clothSize="ngModel"
            [(ngModel)]="service.formData.clothSize">
      </div>
      <div class="form-group col-md-3">
         <label>Type</label>
         <input class="form-control form-control-lg" placeholder="Type" name="clothType" #clothType="ngModel"
            [(ngModel)]="service.formData.clothType">
      </div>
      <div class="form-group col-md-2">
         <label>Price</label>
         <input class="form-control form-control-lg" placeholder="Price" name="clothPrice" #clothPrice="ngModel"
            [(ngModel)]="service.formData.clothPrice">
      </div>
      <div class="form-group col-md-2"> IMAGE UPLOAD LATER</div>

   </div>

   <div class="form-group">
      <button class="btn  btn-secondary btn-lg btn-block my-6" type="submit"
         style="width: 66%; margin-top: -5px; margin-left: 5px;" *ngIf="this.service.formData.clothId == 0">Add
         Cloth</button>
      <button class="btn  btn-secondary btn-lg btn-block my-6" type="submit"
         style="width: 66%; margin-top: -5px; margin-left: 5px;" *ngIf="this.service.formData.clothId != 0">Update
         Cloth</button>
   </div>
</form>