
.card{
   width: 100%;
   height: 12rem;
   background-color: transparent;
   align-items: center;
   text-align: center;
   margin-top: 5%;
   margin-left: 0;
   margin-bottom: 20px;
   
   position: relative;
}
.card p{
   font-size: 10px;
   padding-bottom: 10%;
}
.card-title{
   font-weight: 500;
   margin-top: 1%;
}
.card button{
   font-size: 15px;
   width: 130px;
   margin-left: 35%;
   margin-top: -5%;
   text-align: center;
   position: absolute;
}
.card button#remove{
   margin-top: -5%;
   position: absolute;
   background-color: rgb(187, 8, 8);
}
.card button#remove:hover{
   background-color: red;
}

.badge.badge-secondary{
   margin-left: -62% ;
   border-radius: 0px 0px 10px 10px;
   padding-bottom: 5px;
   width: 60px;
}
.badge.badge-secondary#price{
   margin-left: 75% ;
   margin-top: -15%;
   border-radius: 0px 0px 0px 10px;
   padding-bottom: 5px;
   width: 55px;
}
.card-body{
   width: 10%;
   height: 5%;
}
.card-body p{
   font-weight: 400;
   padding-bottom: 2px;
   font-size: 15px;
   font-style: oblique;
   margin-top: -15%;
   width: 150px;
   text-align: left;
}
.static{
   margin-right: 230px;
   width: 80px;
   text-align: right;
   margin-top:-45px;
}
.static h5{
   font-weight: 500;
   font-size: 20px;
   
   margin-top: -2%;
}

.quantity{
   /* background-color: rgb(206, 203, 203); */
   margin-left: 614%;
   width: 130px;
   border-radius: 4px;
   
}
.quantity p{
   font-size: 20px;
   font-style: normal;
   margin-left: 15%;
}
.quantity .quant-box{
   background-color: rgb(211, 213, 211);
   border-radius: 4px;
   border: hotpink 1px solid;
}
.material-icons{
   margin-right: 10px;
   margin-left: 10px;
   margin-top: 5px;
   font-size: 15px;
}
#plus{
   background-color: rgb(61, 174, 61);
   border-radius: 6px;
   border: hotpink 1px solid;
}
#plus:hover{
   background-color: rgb(13, 206, 13);
}
#minus{
   background-color: rgb(187, 8, 8);
   border-radius: 6px;
   border: hotpink 1px solid;
}
#minus:hover{
   background-color: red;
}
.quantity h6{
   margin-top: -130px;
   font-style: italic;
   font-size: 15px;
}
.total{
   background-color: rgb(224, 188, 188);
   height: 50px;
   border-radius: 4px;
   border: #009688 2px solid;
   margin-left: 500px;
   margin-bottom: 10px;
   width: 300px;
   
}
.total h5{
   margin-left: 25%;
   margin-top: 10px;
   font-style: italic;
}
.total button{
   margin-left: 240px;
   margin-top: -65px;
   width: 180px;
   height: 45px;
}